<!--
  @Description: TODO 
 
  @Author    何亚培
  @Version   V1.0  
  @Date      2020/7/11 11:40 
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>指定地址发送邮件</title>
    <meta name="keywords" content="login"/>
    <script src="/static/res/bootstrap/js/jquery.min.js"></script>
    <!--引用公共的bootstrap的内容-->
    <head th:include="/inc/bootstrapbasejs :: bootstrapbasejs"></head>
    <head th:include="/inc/bootstrapbasecss :: bootstrapbasecss"></head>
    <head th:include="/inc/commonutil/echarts :: echarts"></head>
    <head th:include="/inc/commonutil/toastrutil :: toastr"></head>
    <!--table内容居中-->
    <style>
        .table tbody tr td {
            text-align: center; /** 设置水平方向居中 */
            vertical-align: middle /** 设置垂直方向居中 */
        }

        .table th {
            text-align: center; /** 设置水平方向居中 */
            vertical-align: middle /** 设置垂直方向居中 */
        }


        /*翻页*/
        .jump {
            margin: 0px 0;
            float: right;
        }

        .jump_text {
            float: right;
            margin: 0 0 0 5px;
            line-height: 33px;
        }

        .jump_text input {
            width: 40px;
            border: rgba(212, 212, 212, 1.00) 1px solid;
            height: 30px;
            line-height: 33px;
            background: #fff;
        }

        /*取消number的样式*/
        /* google、safari */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none !important;
            margin: 0;
        }

        /* 火狐 */
        input[type="number"] {
            -moz-appearance: textfield;
        }

    </style>

    <script>
        /*div显示关闭*/
        function showCrontabTime() {
            $("#crontabTime").show();
        }

        function hideCrontabTime() {
            $("#crontabTime").hide();
            $("#crontab_send_time_start").val("");
            $("#crontab_send_time_end").val("");
        }
    </script>

    <script>
        function submitEmail() {

            let article = document.getElementById("submitArticleContent");
            article.value = editor.txt.html();


            let sendTo = $("#sendTo").val();
            let sendType = $("input[name=sendType]:checked").val()
            let submitArticleContent = $("#submitArticleContent").val();
            let crontabSendTimeStart = $("#crontab_send_time_start").val();
            let crontabSendTimeEnd = $("#crontab_send_time_end").val();
            let adminUserId = $("#adminUserId").val();
            let receiveEmailId = $("#receiveEmailId").val();

            //alert(submitArticleContent)

            if (sendTo == null || sendTo == undefined || sendTo == "") {
                toastr.error("必须输入邮件接收人");
                return;
            }

            if (!checkEmail(sendTo)) {
                //toastr.error("邮件格式不正确");
                return;
            }


            if (sendType == null || sendType == undefined || sendType == "") {
                toastr.error("发送类型必选");
                return;
            }

            if (sendType == 1) {
                if (crontabSendTimeStart == null || crontabSendTimeStart == undefined || crontabSendTimeStart == "") {
                    toastr.error("当前模式下，定时用开始时间必填");
                    return;
                } else {
                    crontabSendTimeStart = crontabSendTimeStart.replace("T", " ");
                }

                if (crontabSendTimeEnd == null || crontabSendTimeEnd == undefined || crontabSendTimeEnd == "") {
                    toastr.error("当前模式下，定时用结束时间必填");
                    return;
                } else {
                    crontabSendTimeEnd = crontabSendTimeEnd.replace("T", " ");
                }
            }

            if (submitArticleContent == null || submitArticleContent == undefined || submitArticleContent == "") {
                toastr.error("邮件内容必填，还请输入邮件内容");
                return;
            }

            if (!funcChinese(submitArticleContent)) {
                toastr.error("请输入邮件内容！");
                return;
            }
            /*判断是否存在反馈邮件数据*/
            if (receiveEmailId == null || receiveEmailId == undefined || receiveEmailId == "") {
                receiveEmailId = -1;
            } else {
                if (receiveEmailId === 'number' && isFinite(receiveEmailId)) {
                    receiveEmailId = -1;
                }
            }




            showMyCustomLoading();
            $.ajax({
                url: "/api/admin/manager/email/saveManagerEmailSend",
                data: {
                    sendTo: sendTo,
                    sendType: sendType,
                    emailContent: submitArticleContent,
                    crontabSendTimeStart: crontabSendTimeStart,
                    crontabSendTimeEnd: crontabSendTimeEnd,
                    adminUserId: adminUserId,
                    receiveEmailId: receiveEmailId
                },
                type: "POST",
                cache: false,
                dataType: "json",
                success: function (response) {

                    hideMyCustomLoading();

                    if (response.status == '200') {
                        toastr.success(response.message);
                    } else {
                        toastr.error(response.message);
                    }
                }, error: function (data, type, err) {
                    toastr.error("操作出现错误，请联系系统管理员");
                    hideMyCustomLoading();
                    // 以下依次是返回过来的数据，错误类型，错误码
                    console.log("请求错误：" + data);
                }
            });


        }

        /**
         * 判断是否为email格式
         * @param email
         * @returns {boolean}
         */
        function checkEmail(email) {
            if (email == '') {
                toastr.error("请输入您的邮箱");
                return false;
            } else if (email != "") {
                let reg = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
                let isok = reg.test(email);
                if (!isok) {
                    toastr.error("邮箱格式不正确，请重新输入！");
                    return false;
                }
            }
            return true;
        }


        /**
         * 检测是否包含中文，true表示包含中文，false表示不包含中文
         * @param str
         * @returns {boolean}
         */
        function funcChinese(str) {
            if (/.*[\u4e00-\u9fa5]+.*$/.test(str)) {
                return true;
            }
            return false;
        }


        /**
         * 检测是否为中文，true表示是中文，false表示非中文
         * @param str
         * @returns {boolean}
         */
        function isChinese(str) {
            if (/^[\u3220-\uFA29]+$/.test(str)) {
                return true;
            } else {
                return false;
            }
        }

        function showReceiveEmailContent(receiveEmailId) {
            toastr.info('准备邮件内容....', '努力中');
            $('#receiveEmailContentShowModalBody').html($("#" + receiveEmailId).val());
            $('#receiveEmailContentShow').modal("show");
            centerModals("receiveEmailContentShow");
        }

    </script>


</head>
<body>


<!--引入等待层-->
<div th:include="/inc/commonutil/toastrutil :: myCustomLoad"></div>
<!--引入富文本编辑器-->
<div th:include="/inc/wangeditor :: wangeditor"></div>
<!--通用头部信息-->
<div class="container">
    <div th:include="inc/head/simplehead :: header"></div>
</div>


<!--邮件信息展示-->
<div class="modal fade" id="receiveEmailContentShow"
     role="dialog"
     aria-labelledby="organisersInfoByIdModal"
     aria-hidden="true">
    <div class="modal-dialog" style="width: 95%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body" id="receiveEmailContentShowModalBody"
                 style="width:100%; height:300px;overflow:auto;">
                显示邮件内容中。。。
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


<div class="container" style="margin-bottom: 30px">
    <div class="row clearfix">
        <div class="col-md-12 column">

            <!--编辑器内容-->
            <input id="submitArticleContent"
                   th:value="${managerEmailSendQuery?.getArticleContent()}"
                   name="emailContext"
                   type="hidden" required>

            <!--反馈邮件ID-->
            <input id="receiveEmailId"
                   th:value="${receiveMailForReplyAppointDTO?.receiveEmailId != null } ?${receiveMailForReplyAppointDTO?.receiveEmailId}:'' "
                   name="receiveEmailId"
                   type="hidden" required>

            <input id="adminUserId"
                   th:value="${adminUserId != null } ?${adminUserId}:'' "
                   name="adminUserId"
                   type="hidden" required>


            <div class="form-group">
                <label for="sendTo">邮件地址</label>
                <input type="email" name="sendTo" class="form-control"
                       id="sendTo" required th:value="${receiveMailForReplyAppointDTO?.receiveEmailFrom}"/>
            </div>
            <div class="form-group">
                <label>发送类型</label>
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="sendType" id="optionsRadios3"
                               onclick="hideCrontabTime()"
                               value="0"
                               checked> 立即发送
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="sendType" id="optionsRadios4"
                               onclick="showCrontabTime()"
                               value="1">定时发送
                    </label>
                </div>
            </div>

            <div class="form-group" id="crontabTime" style="display: none;">

                <div class="form-inline">
                    <label for="crontab_send_time_start" title="开始发送">开始发送</label>
                    <input class="form-control" id="crontab_send_time_start" placeholder="开始发送"
                           type="datetime-local"
                           name="crontabSendTimeStart">

                    <label for="crontab_send_time_end" title="结束发送">结束发送</label>
                    <input class="form-control" id="crontab_send_time_end" placeholder="结束发送"
                           type="datetime-local"
                           name="crontabSendTimeEnd">
                </div>
            </div>

            <button class="btn btn-default" onclick="submitEmail()">提交邮件</button>

        </div>
    </div>
</div>


<div class="container" th:if="${receiveMailForReplyAppointDTO !=null}">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <tbody>
                    <tr>
                        <td>
                            邮件人
                        </td>
                        <td th:text="${receiveMailForReplyAppointDTO?.receiveEmailFrom}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            邮件标题
                        </td>
                        <td th:text="${receiveMailForReplyAppointDTO?.receiveEmailTitle}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            邮件内容
                        </td>
                        <td>
                            <a th:href="|javascript:showReceiveEmailContent('emailContent${receiveMailForReplyAppointDTO?.receiveEmailId}')|">
                                点击查看邮件内容
                            </a>
                            <input type="hidden" th:value="${receiveMailForReplyAppointDTO?.receiveEmailContent}"
                                   th:id="|emailContent${receiveMailForReplyAppointDTO?.receiveEmailId}|">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">

            <div id="editor">
                <p></p>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">
    var E = window.wangEditor;
    var editor = new E('#editor');
    //开启debug模式
    editor.customConfig.debug = true;
    // 关闭粘贴内容中的样式
    editor.customConfig.pasteFilterStyle = false
    // 忽略粘贴内容中的图片
    editor.customConfig.pasteIgnoreImg = true
    // 使用 base64 保存图片
    //editor.customConfig.uploadImgShowBase64 = true
    editor.customConfig.uploadFileName = "file";
    editor.customConfig.uploadImgServer = '/api/admin/manager/email/upload';
    editor.customConfig.debug = true;
    //自定义上传图片事件
    editor.customConfig.uploadImgHooks = {
        before: function (xhr, editor, files) {

        },
        success: function (xhr, editor, result) {
            //console.log("上传成功");
        },
        fail: function (xhr, editor, result) {
            console.log("上传失败,原因是" + result);
        },
        error: function (xhr, editor) {
            console.log("上传出错");
        },
        timeout: function (xhr, editor) {
            console.log("上传超时");
        },
        customInsert: function (insertImg, result, editor) {
            // 图片上传并返回结果，自定义插入图片的事件（而不是编辑器自动插入图片！！！）
            // insertImg 是插入图片的函数，editor 是编辑器对象，result 是服务器端返回的结果
            // 举例：假如上传图片成功后，服务器端返回的是 {url:'....'} 这种格式，即可这样插入图片：
            var url = result.url;
            insertImg(url)
            // result 必须是一个 JSON 格式字符串！！！否则报错
        }
    };
    // 或者 var editor = new E( document.getElementById('editor') )
    editor.create()
    //E.fullscreen.init('#editor');
    E.fullscreen.init(editor);
    E.viewSource.init(editor);
    /*回显*/
    var introduce = $(" #submitArticleContent ").val();
    if (introduce != null) {
        editor.txt.html(introduce);
    }
</script>

<!--底部信息-->
<div class="container" style="margin-bottom: 30px">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="btn-group">
            </div>
        </div>
    </div>
</div>
</body>
</html>