<!--
  @Description: TODO 
 
  @Author    何亚培
  @Version   V1.0  
  @Date      2020/7/22 19:17 
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="userBaiduMap">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-4 column">
                <script>
                    function test1() {
                        swal('你好 我是新的弹窗');
                    }
                </script>
                <a href="javascript:test1()">启动</a>
            </div>
            <div class="col-md-4 column">

            </div>
            <div class="col-md-4 column">

            </div>
        </div>
    </div>
</div>
</body>
</html>