<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>微信功能管理员登录页面</title>
    <meta name="keywords" content="login"/>
    <script src="/static/res/bootstrap/js/jQuery.js"></script>
    <!--引用公共的bootstrap的内容-->
    <head th:include="/inc/bootstrapbasejs :: bootstrapbasejs"></head>
    <head th:include="/inc/bootstrapbasecss :: bootstrapbasecss"></head>


</head>

<body>

<div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="background-color:#eee;margin-top:200px;">

        <h3 style="text-align: center;line-height: 75px">微信功能后端管理程序</h3>

        <form action="/login/adminlogin" th:method="post">
            <div class="form-group">
                <label for="userName">用户名:</label>
                <input type="text" class="form-control" style="color:red;" id="userName" name="userName">
            </div>
            <div class="form-group">
                <label for="passWord">密码</label>
                <input type="password" class="form-control" style="color:red;" id="passWord" name="passWord" autocomplete="off">
            </div>
            <div class="form-group">
                <input type="submit" value="登陆" class="btn btn-success form-control">
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>


<!--版权信息-->
<!--<div th:include="/inc/copyright"></div>-->

</body>

</html>