<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyp.blogmaster.mapper.WeixinVoteUserMapper">
    <resultMap id="BaseResultMap" type="com.hyp.blogmaster.pojo.modal.WeixinVoteUser">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="open_id" property="openId" jdbcType="VARCHAR"/>
        <result column="enable" property="enable" jdbcType="INTEGER"/>
        <result column="avatar_url" property="avatarUrl" jdbcType="VARCHAR"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="country" property="country" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="getUserDashboardDataAnalysis"
            resultType="com.hyp.blogmaster.pojo.dto.page.DashboardDataAnalysisDTO">
 SELECT
	COUNT(id) AS countNum,
	DATE_FORMAT(create_time,'%Y-%m-%d') AS dateTime
FROM
	weixin_vote_user
	where  create_time between DATE_SUB(CURDATE(), INTERVAL 1 YEAR) and now()
GROUP BY DATE_FORMAT(create_time,'%Y-%m-%d')

  </select>
    <select id="getWeixinUserRegionAnalysisList"
            resultType="com.hyp.blogmaster.pojo.dto.manager.weixinuser.UserAnalysisSimpleDTO">
     SELECT `city` as `userAttribute`,
       countNum,
      round(countNum / total * 100.00, 2) percent
FROM (
         SELECT *
         FROM (
                  SELECT `city`,
                         COUNT(1) countNum
                  FROM `weixin_vote_user`
                  GROUP BY `city`
              ) t1
                  INNER JOIN(
             SELECT COUNT(1) total
             FROM `weixin_vote_user`
         ) t2 ON 1 = 1
     ) t   order by t.countNum desc  limit 200;

    </select>
    <select id="getWeixinUserAnalysisSexPieSimple"
            resultType="com.hyp.blogmaster.pojo.dto.manager.weixinuser.UserAnalysisSimpleDTO">
 SELECT case
when `gender`=1 then '男'
when `gender`=2 then '女'
 else '未知'
end as `userAttribute`,
       countNum,
      round(countNum / total * 100.00, 2) percent
FROM (
         SELECT *
         FROM (
                  SELECT `gender`,
                         COUNT(1) countNum
                  FROM `weixin_vote_user`
                  GROUP BY `gender`
              ) t1
                  INNER JOIN(
             SELECT COUNT(1) total
             FROM `weixin_vote_user`
         ) t2 ON 1 = 1
     ) t   order by t.countNum desc  limit 3;

    </select>
</mapper>